.bar {
    width: 70%;
}

.logo-bar {
    margin-top: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    .mat-input-container {
        margin-left: 20px;
    }
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-bar {
    display: flex;
    justify-content: space-between;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: inline;
        }
    }
}

.nav-primary li {
    margin-right: 15px;
}

.nav-secondary li {
    margin-left: 15px;
    background-color: red;
    color: white;
    padding: 2px;
}