<div class="container">
  <div class="logo-bar bar">
    <div class="logo">
      <div><button md-button class="text-left" routerLink="/">LOGO</button></div>
      <md-form-field>
        <input mdInput placeholder="Search" />
      </md-form-field>
    </div>
    <div class="user">
      <div class="cart">
        <div class="cart-number" *ngIf="carts.length > 0">{{carts.length}}</div>
        <md-icon (mouseover)="openMinicart()">shopping_basket</md-icon>
        <div class="minicart-pop" [ngClass]={isOpen:isCartOpen} (mouseleave)="closeMinicart()">
          <md-card>
            <div class="minicart-title">TAS BELANJA</div>
            <div class="minicart-content">
              <div [hidden]="carts.length > 0">Kosong</div>
              <div *ngFor="let cart of carts" class="minicart-product">
                <img src={{imgDummy}} />
                <div class="minicart-data-main">
                  <div class="minicart-data-brand">{{cart.brand}}</div>
                  <div>{{cart.name}}</div>
                  <div class="minicart-data-size">Ukuran: L</div>
                  <div class="minicart-data-quantity">Jumlah: 2</div>
                </div>
                <div class="minicart-data-additional">
                  <div>Rp. 249.000</div>
                </div>
              </div>
            </div>
            <div class="minicart-action">
              <button [disabled]="carts.length <= 0" md-button>Lihat</button>
              <button [disabled]="carts.length <= 0" md-button>Bayar</button>
            </div>
          </md-card>
        </div>
      </div>
      <div>
        <md-icon>person</md-icon>
      </div>
    </div>
  </div>
  <div class="header-bar bar">
    <div class="nav-primary">
      <ul>
        <li><a routerLink="/newest">TERBARU</a></li>
        <li><a routerLink="/popular">POPULER</a></li>
        <li><a routerLink="/tee">KAOS</a></li>
        <li><a routerLink="/shirt">KEMEJA</a></li>
        <li><a routerLink="/jacket">JAKET</a></li>
        <li><a routerLink="/acc">AKSESORIS</a></li>
      </ul>
    </div>
    <div class="nav-secondary">
      <ul>
        <li><a routerLink="/discount">DISKON</a></li>
        <li><a routerLink="/limited">EDISI TERBATAS</a></li>
      </ul>
    </div>
  </div>
</div>
