<div class="container">
  <div class="logo-bar bar">
    <div class="logo">
      <div>LOGO</div>
      <md-form-field>
        <input mdInput placeholder="Search" />
      </md-form-field>
    </div>
    <div class="user">
      <div class="cart">
        <div class="cart-number" *ngIf="carts.length > 0">{{carts.length}}</div>
        <md-icon>shopping_basket</md-icon>
      </div>
      <div>
        <md-icon>person</md-icon>
      </div>
    </div>
  </div>
  <div class="header-bar bar">
    <div class="nav-primary">
      <ul>
        <li><a routerLink="/newest">TERBARU</a></li>
        <li><a>POPULER</a></li>
        <li><a>KAOS</a></li>
        <li><a>KEMEJA</a></li>
        <li><a>JAKET</a></li>
        <li><a>AKSESORIS</a></li>
      </ul>
    </div>
    <div class="nav-secondary">
      <ul>
        <li><a>DISKON</a></li>
        <li><a>EDISI TERBATAS</a></li>
      </ul>
    </div>
  </div>
</div>
