<div class="product-card">
  <div class="product">
    <img src="https://dynamic.zacdn.com/zSz5VjV6G96Hh-MQVZ6oloVIaj8=/fit-in/346x500/filters:quality(90):fill(ffffff)/http://static.id.zalora.net/p/lois-jeans-9768-7348931-4.jpg"/>
  </div>
  <div class="product-data">
    <div class="product-title">
      <div class="product-brand">{{cart.brand}}</div>
      <div class="product-desc">{{cart.name}}</div>
    </div>
    <div>
      <div class="product-price">Rp {{cart.price | number:'1.0-0'}}</div>
      <button class="small-button" md-raised-button (click)="addToCart(cart)">Beli</button>
    </div>
  </div>
</div>
