@import './../../app.component.scss';

.product-card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product {
    width: 100%;
    img {
        width: 100%;
        padding-bottom: 5px;
    }
}

.product-data {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include respond-to(small) { 
        flex-direction: column;
        align-items: flex-start;
    }
}

.product-title {
    text-align: left;
}

.product-price {
    padding-bottom: 0.5em;
    text-align: right;
    @include respond-to(small) { 
        text-align: left;
    }
}

.product-brand {
    font-weight: bold;
    font-size: 1.2em;
}

.product-buy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}