/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 12px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-limiter {
    width: 70%;
}

md-icon {
    font-size: 1.6em !important;
}

button {
    font-size: 1em !important;
}

.small-button {
    line-height: 0 !important;
    height: 30px;
}

.text-left {
    padding: 0 !important;
    text-align: left !important;
    width: 50px !important;
    min-width: 50px !important;
}

.cdk-global-overlay-wrapper {
    justify-content: flex-start !important;
}

.snackbar-extra {
    margin: 10px;
    font-weight: 300;
}

.snackbar-extra button {
    color: orange;
}